.SignUp {
  max-width: 600px;
  width: 100%;
  margin: 100px auto 0;
}

.SignUp > a {
  font-size: 15px;
}

.SignUp > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.SignUp h2 {
  text-align: center;
}

.SignUpForm {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 3px;
  width: 100%;
}

.SignUpForm > input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 10px;
  margin: 0 0 5px;
  width: 100%;
  outline: none;
  transition: all 300ms ease-in-out;
}

.SignUpForm > label {
  padding: 0;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.SignUpForm > button {
  margin-top: 1rem;
}
