.MyPosts {
  width: 100%;
}

.MyPosts > button > a {
  color: #fff;
}

.MyPosts > article {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.MyPosts > article p {
  word-break: break-word;
  margin: 1rem 0;
}

.MyPosts > span {
  display: block;
  margin-top: 2rem;
}
