.UserAnnouncements {
  width: 100%;
}

.UserAnnouncements > div {
  margin-top: 1rem;
}

.UserAnnouncements > div:first-of-type {
  padding: 1rem;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
}

.UserAnnouncements > div:not(:first-of-type) {
  margin-top: 2rem;
}

.UserAnnouncements > div:last-of-type > div {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.UserAnnouncements > div:last-of-type > div > div {
  margin-top: 1rem;
}

.UserAnnouncements > div:not(:first-of-type) button {
  margin-right: 3px;
}
