.Pagination {
  margin: 1rem auto 0 auto;
}

.Pagination ul {
  padding: 0;
  list-style: none;
}

.Pagination ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

.Pagination a {
  font-size: 18px;
  transition: color 0.5s;
}
