.UserProfile > h2 {
  display: inline-block;
  margin-right: 5px;
}

.profileContent {
  display: flex;
  align-items: center;
}

.UserProfile > div > span {
  margin-left: 5px;
  font-size: 1.5rem;
}
/* antd */
/* temporary */
.UserProfile > div > div > span {
  line-height: 0 !important;
}

.UserProfile > span {
  margin: 6px 0px;
  display: block;
  font-size: 1rem;
}

/* le temporary kostyl */
.UserProfile img {
  width: 100px;
}

.UserProfile button[category='primary-filled'] {
  margin-left: 3px;
}
