.BlogPost {
  margin-top: 1rem;
}

.BlogPost > article {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 7px;
}

.BlogPost > article > p {
  margin: 1rem 0;
  word-break: break-word;
}

.message {
  color: rgb(221, 221, 221);
  height: 35vw;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
