.MyProfile > h2 {
  display: inline-block;
  margin-right: 5px;
}

.MyProfile > div {
  display: flex;
  align-items: center;
}

.MyProfile > div > span {
  margin-left: 5px;
  font-size: 1.5rem;
}
/* antd */
/* temporary */
.MyProfile > div > div > span {
  line-height: 0 !important;
}

.MyProfile > span {
  margin: 6px 0px;
  display: block;
  font-size: 1rem;
}

/* le temporary kostyl */
.MyProfile img {
  width: 100px;
}

.MyProfile button[type='primary-filled'] {
  margin-left: 3px;
}
