.BlogList {
  display: flex;
  flex-direction: column;
  color: #303030;
  margin-top: 1rem;
}

.BlogList > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BlogList > div:first-of-type a {
  background-color: rgba(43, 187, 164, 0.8);
  color: #fff;
  padding: 7px 25px;
  text-decoration: none;
  border-radius: 3px;
}

.BlogList > div:first-of-type a > span {
  display: inline-block;
  width: 8rem;
}

.BlogList > div:first-of-type a:hover {
  background-color: rgba(43, 187, 164, 1);
}

.BlogList h1 {
  text-align: center;
}
