.CreatePost {
  max-width: 600px;
  width: 100%;
  margin: 100px auto 0;
}

.CreatePost form {
  width: 100%;
}

.CreatePost h1 {
  text-align: center;
}

.CreatePost form > div textarea {
  min-height: 200px;
  resize: none;
}

.CreatePost form button {
  margin: 2rem auto 0;
}
