.Announcement {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 4px 12px 12px 12px;
  margin: 5px 0;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  border-radius: 5px;
  animation: move 1.5s;
}

.Announcement > span:first-child {
  margin-top: 6px;
  align-self: flex-end;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.Announcement > span:first-child:active {
  transform: scale(1.3);
}

.Announcement > h3 {
  font-size: 14px;
}

.Announcement > span:not(:first-child) {
  font-size: 12px;
}

@keyframes move {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
